* {
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}

body{
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    position: relative;
}
h1{
    position: absolute;
    top: 50%;
    left: 40%;
    color: var(--secondary-color);
}
#icon-sun, #icon-moon{
    border-radius: 5px;
    padding: 10px;
    border: 3px solid var(--secondary-color);
}
#icon-sun{
    color: var(--secondary-color);
    display: none;
}